<footer class="main-footer">
    <div class="container clearfix">
        <a class="fa fa-rss" href="{{@blog.url}}/rss/" title="RSS Feed"></a>
        <p>All content copyright
            <a href="https://thesharpdev.com" title="William Sharp">William Sharp </a> &copy; 2017. All rights reserved.
        </p>
        <p>
            Proudly published with Ghost. Theme inspired by
            <a href="http://leonidasv.com" title="Leonidas Villeneuve">Leonidas Villeneuve</a>, based on concept by <a href="http://blog.rriegger.com/"
                title="Raphael Riegger - UI/UX Designer">Raphael Riegger</a>.
        </p>
    </div>
</footer>