<ul class="social">
    <li>
        <a href="https://github.com/wsharp07" target="_blank" title="Fork me on Github">
            <i class="fa fa-github fa-lg" aria-hidden="true"></i>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/wsharp07" target="_blank" title="Follow me on Twitter">
            <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/wsharp07" target="_blank" title="Find me on LinkedIn">
            <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
        </a>
    </li>
</ul>